body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 300;
}
canvas {
  display: block;
}
button {
  border: 0;
  border-radius: 0px;
  background: gray;
  color: white;
  font-size: 1em;
  font-family: "Roboto Mono";
  padding: 7px;
  transition: all 0.5s ease;
}
button:active {
  background: tomato;
}
button:focus {
  background: tomato;
}
#info {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 2em;
  font-size: 1rem;
}
#info a {
  color: gray;
}
